<style>
    a{
        text-decoration: none;
        color: black;
    }
</style>
<div id="mypage_area">
    <div id="mypage_container">
        <div id="mypage_title">
            <a href="/mypage"><span style="margin-right: 50px;">계정</span></a>
            <a href="/mypage_payment"><span style="margin-right: 50px;">결제</span></a>
            <span style="color: red;">문의</span>
        </div>
        <div class="inquiry_nav_container">
            <div class="inquiry_nav_box" onclick="location.href='/inquiry'">
                전시회 문의
            </div>
            <div class="inquiry_nav_box_choice">
                결제
            </div>
        </div>
        <div class="inquiry_title_container"></div>
    </div>
</div>


<link rel="stylesheet" href="/public/stylesheets/main_nav.css">