<div id="mypage_area">
    <div id="mypage_container" style="margin-top: 50px; width: 1200px; height: auto; flex-wrap: wrap; flex-direction: row;">
        <% for (var i = 0; i < row.length; i++){%>
        <div class="end_exhibi_box">
            <div class="end_exhibi_img">
                <img src="/public/images/exhibition_title_images/<%=row[i].IMG%>" alt="">
            </div>
        </div>
        <%}%>
    </div>
</div>
