<div class="search_exhibition_area">
    <div class="search_exhibition_container">
        <div class="search_exhibition_input_area">
            <svg data-v-28783d35="" width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin-right: 10px;"><circle data-v-28783d35="" cx="11" cy="11" r="6" stroke="#666666" stroke-width="2"></circle> <path data-v-28783d35="" d="M16 16L19 19" stroke="#666666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            <input type="text" class="search_exhibition_input" placeholder="검색어를 입력하세요.">
        </div>
        <p style="font-size: 24px; letter-spacing: -1.0px; margin-top: 10px; margin-bottom: 10px; font-weight: 700;">EXHIBITION RECOMMEND SEARCH TERM</p>
        <div class="recommend_exhibition_comment_box">
            <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; margin-bottom: 10px;">
                <img src="/public/images/icon/recommend_icon.png" style="width: 20px; height: 20px; margin-right: 10px;" alt="">
                <p>안봐도 <strong>사는데 지장없는</strong> 전시회</p>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; margin-bottom: 10px;">
                <img src="/public/images/icon/recommend_icon.png" style="width: 20px; height: 20px; margin-right: 10px;" alt="">
                <p><strong>Flowers</strong> Boming Home</p>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; margin-bottom: 10px;">
                <img src="/public/images/icon/recommend_icon.png" style="width: 20px; height: 20px; margin-right: 10px;" alt="">
                <p><strong>내 마음,</strong> 괜찮은 걸까?</p>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: center; margin-bottom: 10px;">
                <img src="/public/images/icon/recommend_icon.png" style="width: 20px; height: 20px; margin-right: 10px;" alt="">
                <p>집에서 하는 <strong>시계여행</strong></p>
            </div>
        </div>
        <div class="recommend_exhibition_commentbox2">
            <p class="recommend_exhibition_comment2">이런 전시회는 어떠세요?</p>
        </div>
        <div class="recommend_exhibitions_content_box">
            <div class="recommend_exhibitions_img_box">
                <img class="recommend_exhibitions_img" src="/public/images/test102.jpg" alt="">
            </div>
            <div id="recommend_exhibitions_img_box2" class="recommend_exhibitions_img_box">
                <img class="recommend_exhibitions_img" src="/public/images/104.PNG" alt="">
            </div>
            <div id="recommend_exhibitions_img_box3" class="recommend_exhibitions_img_box">
                <img class="recommend_exhibitions_img" src="/public/images/105.jpg" alt="">
            </div>
            <div id="recommend_exhibitions_img_box4" class="recommend_exhibitions_img_box">
                <img class="recommend_exhibitions_img" src="/public/images/106.PNG" alt="">
            </div>
            <div id="recommend_exhibitions_img_box5" class="recommend_exhibitions_img_box">
                <img class="recommend_exhibitions_img" src="/public/images/107.jpg" alt="">
            </div>
            <div id="recommend_exhibitions_img_box6" class="recommend_exhibitions_img_box">
                <img class="recommend_exhibitions_img" src="/public/images/108.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/public/stylesheets/main_nav.css">